
apiVersion: v1
kind: Secret
metadata:
  name: shopsphere-s3-secrets
  namespace: shopsphere
type: Opaque
stringData:
  AWS_ACCESS_KEY_ID: "CREATE-YOUR-OWN-AWS-ACCESS-KEY" 
  AWS_SECRET_ACCESS_KEY: "CREATE-YOUR-OWN-AWS-SECRET" 